body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #ffffff;

}

ul, ol {
    list-style-type: none;
}

a {
    text-decoration: none;
}


.header-studio {
    color: #2E2F42
}
.menu {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2E2F42;
}
.menu .menu-link {
    color: #2e2f42;
}
.menu .menu-link:hover {
    color: #404BBF;
}

.menu .menu-link:focus {
    color: #404BBF;
    text-decoration: underline;
}

.contacts {
    font-style: normal;
}
.contacts .contacts-link{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.contacts .contacts-link:hover {
    color: #404BBF;
}
.contacts-link:focus {
    color: #404BBF;
}
.hero {
    background-color: #2E2F42;
}

.hero-title {
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    text-align: center;
}
.button {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    background-color: #4D5AE5;
    cursor: pointer;
}
.button:hover {
    background-color: #404BBF;
}

.button:focus {
    background-color: #404BBF;
}
.feature-title {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
}

.section-title {
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: #2E2F42;
}

.text {
    font-size: 16;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.team {
    background-color: #F4F4FD;
}
.team-card {
    background-color: #FFFFFF;
}
.team-card .team-card-title {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2E2F42;
}
.team-card .team-card-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
}

.portfolio .portfolio-card-title {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2E2F42;
}
.portfolio .portfolio-card-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
}

.footer {
    background-color: #2E2F42;
}
footer .text{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:#F4F4FD;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}
.footer-studio {
    color: #F4F4FD; 
}
